
base64
datetime
chime
os
sqlite3
time
beautifulsoup4
python-dateutil
python-dotenv
faiss-cpu
numpy
pyttsx3
speechrecognition
tzlocal
google-auth
google-auth-oauthlib
google-api-python-client
langchain
openai
